@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  padding: 15px 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
